.fixed{
    border: 1px solid gray;
    border-spacing: 20px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-left: 5%;
    table-layout:fixed;
    word-wrap:break-word;
    overflow:hidden;
}
.tr,td{
    text-align: center;
}  